.button {
    // margin: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    &__hidden {
        visibility: hidden;
    }
}

@media (max-width: 700px) {
.button{
    width: 3.5rem;
    font-size: 0.7rem; 
}
}


@media (max-height: 700px) {
    .button{
        height: 1.2rem; 
    }
    }

