@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$color-back-light: #F2F3F4;
$color-back-dark: #212F3C;
$color-main-light: #2E86C1;
$color-main-dark: #E91E63;
$font-family: 'Roboto', sans-serif;