* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    color:tomato;
}
#root{
    // background-color: #0f0;
    height: 100%;
    width: 100%; 
}
.main-wrapper{
    height: 100%;
    width: 100%;
}